<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Sugestão de <%= nome %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Obrigada pela sugestão, <%= nome %>. Ficamos felizes que você apoia nosso trabalho!</h1>
    <ul>
      <% ingredientes.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
    <div><a href="/">Voltar</a></div>

  </div>
</body>
</html>
